.projectdetimg {
  height: 400px;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;

  justify-content: center;
  align-items: center;

  gap: 15px;
}
button {
  padding: 30px;
  margin: 30px;
  background-color: rgb(157, 251, 251);
  border-radius: 10px;
  border: 0px;
  font-size: 1rem;
}
