img {
  height: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.element {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  padding: 20px;
  gap: 15px;
}
.linkto {
  background-color: rgb(36, 36, 125);
  padding: 30px;
  color: white;
}
:link {
  color: white;
}

:visited {
  color: white;
}
