:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  padding: 0px;
  margin: 50px 100px;
  max-width: 1300px;
}
