:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main {
  padding: 0px;
  margin: 50px 10px 100px 50px;

  max-width: 1300px;
  font-size: 1em;
}

@media (max-width: 1000px) {
  main {
    margin: 10px;
    margin-bottom: 100px;
  }
  h1 {
    font-size: 1em;
  }
}
